/* * {
  border: 1px solid orange;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.CryptocurrenciesList-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.cryptocurrencyItem-container {
  padding-left: 0;
  border: 2px solid #00e7ff;
  border-radius: 10px;
  width: 100%;
}

.crypto-heading {
  font-family: 'Roboto';
  color: #00e7ff;
  text-align: center;
}

@media screen and (max-width: 567) {
  .crypto-heading {
    font-size: 18px;
  }
}

.crypto-header {
  background-color: #092e33;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  list-style-type: none;
  font-family: 'Roboto';
  color: #ffffff;
  display: flex;
}
.crypto-img {
  width: 80%;
}

@media screen and (max-width: 567px) {
  .crypto-img {
    width: 100%;
  }
}

.crypto-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 567px) {
  .crypto-item {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
  }
}

.flex {
  width: 20%;
  flex-grow: 1;
  margin-left: 50px;
}

@media screen and (max-width: 567px) {
  .flex {
    margin-left: 5px;
  }
}

.flex-item {
  width: 20%;
}
